<!DOCTYPE html>
<html>
  <head>
    <title>Mariah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
    </ul>
  </nav>



    <%= yield %>

    <footer>
      &copy; 2018 Bike Berlin
    </footer>


  </body>
</html>
